### ***Python Practise Code***

In [4]:
#Import of Library
import pandas as pd

In [5]:
#read csv file#
df=pd.read_excel("/content/practice.xlsx")

In [8]:
#exploring data frames#
df.head()

      Billings   Billings Quantity(PC)    Bookings    Bookings Quantity
0  12971558.17              19294191.0  13603145.29            19662559
1  14656878.74              18620967.0  14724194.99            18641117
2   2538337.57               4341249.0   2576694.42             4364498
3   5433478.09               4226513.0   5563071.17             4288057
4   3439534.92               3472308.0   3980942.72             3727296

In [10]:
df.head(7)

      Billings   Billings Quantity(PC)    Bookings    Bookings Quantity
0  12971558.17              19294191.0  13603145.29            19662559
1  14656878.74              18620967.0  14724194.99            18641117
2   2538337.57               4341249.0   2576694.42             4364498
3   5433478.09               4226513.0   5563071.17             4288057
4   3439534.92               3472308.0   3980942.72             3727296
5   4644393.95               3411860.0   5157813.25             3722340
6   5122119.23               3265659.0   5475062.32             3357755

In [12]:
df.tail()

      Billings   Billings Quantity(PC)   Bookings    Bookings Quantity
182     758.13                   112.0      758.13                 112
183    1632.67                   112.0     1632.67                 112
184    2433.76                   112.0     2433.76                 112
185        NaN                     NaN     4209.90                2760
186        NaN                     NaN     1352.12                 200

In [15]:
df.head(10)

      Billings   Billings Quantity(PC)    Bookings    Bookings Quantity
0  12971558.17              19294191.0  13603145.29            19662559
1  14656878.74              18620967.0  14724194.99            18641117
2   2538337.57               4341249.0   2576694.42             4364498
3   5433478.09               4226513.0   5563071.17             4288057
4   3439534.92               3472308.0   3980942.72             3727296
5   4644393.95               3411860.0   5157813.25             3722340
6   5122119.23               3265659.0   5475062.32             3357755
7   2782605.96               2658850.0   2951566.05             2770201
8   3664217.28               2358468.0   4980191.10             2842308
9   1840719.13               2069488.0   1856877.83             2075316

In [17]:
#To identify the datatypes in panda
df.dtypes

 Billings                 float64
 Billings Quantity(PC)    float64
 Bookings                 float64
 Bookings Quantity          int64
dtype: object

In [19]:
son=df.head(3)

In [21]:
son

      Billings   Billings Quantity(PC)    Bookings    Bookings Quantity
0  12971558.17              19294191.0  13603145.29            19662559
1  14656878.74              18620967.0  14724194.99            18641117
2   2538337.57               4341249.0   2576694.42             4364498

In [23]:
#Each values of the dataset
son.values

array([[12971558.17, 19294191.  , 13603145.29, 19662559.  ],
       [14656878.74, 18620967.  , 14724194.99, 18641117.  ],
       [ 2538337.57,  4341249.  ,  2576694.42,  4364498.  ]])

In [25]:
#Column names
son.columns

Index([' Billings', ' Billings Quantity(PC)', ' Bookings ',
       ' Bookings Quantity'],
      dtype='object')

In [29]:
#rows range and names
son.axes

[RangeIndex(start=0, stop=3, step=1),
 Index([' Billings', ' Billings Quantity(PC)', ' Bookings ',
        ' Bookings Quantity'],
       dtype='object')]

In [31]:
#dimensions
son.ndim

2

In [33]:
#No. of values
son.size

12

In [35]:
#No. of rows and columns
son.shape

(3, 4)

In [37]:
#No. of rows
df.shape[0]

187

In [38]:
#No. of columns
df.shape[1]

4